@page "/login"
@using Account.Contracts.Requests.Auth;
@inject IAuthService authService;

<h3>Login</h3>

<EditForm Model="@LoginRequest" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Username</label>
        <InputText @bind-Value="LoginRequest.Username" class="form-control" />
        <ValidationMessage For="@(() => LoginRequest.Username)" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText @bind-Value="LoginRequest.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => LoginRequest.Password)" />
    </div>
    <br />
    <button class="btn btn-primary">
        Login
    </button>
</EditForm>

@code {
    private AccountSignInRequest LoginRequest { get; } = new AccountSignInRequest();

    private async Task HandleValidSubmit()
    {
        await authService.LoginAsync(LoginRequest);
    }
}
